* {
    margin: 0;
}

.logo {
    max-width: 90px;
    margin: 10px;
}

h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Hide the links inside the navigation menu (except for logo/home) */
header nav .btn-mobile-menu {
    display: none;
}

header nav label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 51px;
    width: 51px;
    top: 0;
    right: 0;
    padding: 15px;
    transition: transform 0.8s ease;
}

header nav label img {
    height: 40px;
    width: 40px;
    color: white;
    background-color: black;
}

header nav .btn-mobile-menu:checked ~ ul {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

header nav .btn-mobile-menu:checked ~ label {
    transform: rotateZ(360deg);
}

header nav ul {
    display: none;
}

ul {
    font-weight: bold;
    text-align: center;
    list-style: none;
}

header nav ul {
    flex-direction: row;
    justify-content: left;
    list-style: none;
    font-weight: bold;
    max-width: 100%;
}

a {
    text-decoration: none;
    padding: 30px 15px;
    color: black;
    text-align: center;
}

input {
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
}

li a:hover {
    color: #c942f7;
}
.hero {
    background-image: url(/images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 650px;
    text-align: center;
    font-weight: bold;
    font-style: normal;
    font-family: "Courier New", Courier, monospace;
    color: white;
    align-items: center;
}

.hero h1 {
    font-size: 30px;
    font-family: "Zen Dots", cursive;
    background: -webkit-linear-gradient(rgb(63, 0, 0), rgb(0, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h1:hover {
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(63, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h2 {
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.hero img {
    max-width: 380px;
    display: flex;
    flex-direction: column;
}

.hero .btn {
    background-color: white;
    color: #c942f7;
    padding: 5px 10px;
    border-color: #c942f7;
    text-decoration: none;
    width: 120px;
    margin-top: 30px;
}

.hero button:hover {
    color: white;
    background-color: #c942f7;
    border-color: white;
}

section {
    max-width: 100%;
    margin: auto;
}

.featured-game {
    display: flex;
    flex-direction: column-reverse;
}

.featured-game-info h2 {
    text-align: center;
    justify-content: center;
    margin-top: 5px;
}

.featured-game-info h4 {
    text-align: center;
}

.featured-game-info p {
    text-align: left;
    margin: 20px 30px;
    font-size: 16px;
}

.featured-game-info .info {
    text-align: left;
    margin-top: 20px;
}
.featured-game-info .link {
    text-align: center;
    color: #c942f7;
    font-size: 10px;
}

.featured-game-info .link:hover {
    color: #cd83e6;
}

.btn {
    margin-top: 50px;
    background-color: #c942f7;
    color: black;
    padding: 15px 20px;
}

.btn:hover {
    color: black;
    background-color: #cd83e6;
    border-color: black;
}
.featured-game img {
    flex: 0 0 50%;
    max-width: 360px;
    margin: 40px;
}

.featured-game-info-reverse .link {
    text-align: center;
    color: #c942f7;
    font-size: 14px;
}

.featured-game-info-reverse link:hover {
    color: #cd83e6;
}

.featured-game-info-reverse .info p {
    margin-top: 5px;
    font-size: 16px;
}

.featured-game-info-reverse .btn {
    margin: 50px;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.moremore {
    display: flex;
    font-size: 20px;
    color: #c942f7;
    justify-content: flex-start;
    margin: 0 0 0 1%;
}

.moremore:hover {
    color: #cd83e6;
}

.rating {
    font-size: 25px;
    color: #c942f7;
    text-align: center;
}
.top-game-entry img {
    width: 190px;
    height: 220px;
    margin-left: 5px 20px;
    align-items: center;
}

.top-game-entry a:hover {
    color: #c942f7;
}

.top-games-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px 0;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding: 30px 20px;
    color: #c942f7;
}

/* TABLET */
@media screen and (min-width: 768px) {
    a {
        text-decoration: none;
        padding: 20px 10px;
        color: black;
        text-align: center;
    }

    input {
        border-radius: 5px;
        padding: 5px;
        margin-top: 0px;
    }
    .hero {
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
    }

    .hero h1 {
        font-size: 60px;
    }

    .hero h2 {
        font-size: 25px;
    }

    button .btn {
        width: 140px;
        padding: 15px 20px;
    }

    .hero img {
        max-width: 100%;
    }
    section {
        max-width: 100%;
        margin: auto;
    }

    .featured-game {
        display: flex;
        flex-direction: row;
    }

    .featured-game.reverse {
        flex-direction: row-reverse;
    }

    .featured-game-info h2 {
        margin-top: 50px;
    }

    .featured-game .featured-game-info-reverse {
        flex: 0 0 50%;
    }

    .featured-game-info-reverse {
        margin-top: 10px;
    }

    .featured-game-info .btn {
        margin: 120px 0 100px 50px;
        text-align: left;
    }

    .featured-game-info-reverse .btn {
        margin: 120px 0 100px 50px;
    }
    .featured-game img {
        flex: 0 0 50%;
        max-width: 40%;
        margin: 40px;
    }

    .top-game-entry img {
        width: 190px;
        height: 260px;
        margin: 0 0 60px 30px;
    }

    .top-games-wrapper {
        flex-direction: row;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        padding: 30px 20px;
        color: #c942f7;
    }
}

/* PC */
@media screen and (min-width: 1200px) {
    header > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        display: flex;
        align-items: center;
    }

    header nav ul {
        display: flex;
        flex-direction: row !important;
        width: auto !important;
        align-items: center;
        gap: 80px;
    }
    header nav ul li {
        height: 50px;
    }
    header ul a {
        text-align: center;
        font-size: 25px;
        line-height: 50px;
        height: 50px;
        display: block;
        padding: 0 10px;
    }
    header nav .btn-mobile-menu {
        display: none;
    }

    header nav label {
        display: none;
    }

    .hero {
        background-image: url(/images/background.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        height: 850px;
        text-align: center;
        font-weight: bold;
        font-style: normal;
        font-family: "Courier New", Courier, monospace;
        color: white;
        align-items: center;
    }

    .hero h1 {
        font-size: 80px;
    }
    .hero h2 {
        font-size: 40px;
    }
    .hero .btn {
        width: 140px;
        padding: 15px 20px;
    }
    .hero img {
        max-width: 100%;
    }

    .featured-game img {
        flex: 0 0 50%;
        max-width: 35%;
    }

    .featured-game {
        margin: 5% 15% 5% 15%;
    }

    .featured-game-info h2 {
        padding: 30px 0 10px 0;
        font-size: 40px;
    }

    .featured-game-info h4 {
        font-size: 25px;
    }
    .featured-game-info p {
        padding: 30px 40px 20px 30px;
        font-size: 18;
    }

    .featured-game-info .link {
        font-size: 16px;
    }

    .featured-game-reverse {
        display: flex;
        flex-direction: row-reverse;
        flex: 0 0 50%;
        margin: 0% 15% 5% 15%;
    }

    .featured-game-info-reverse h2 {
        padding: 5px 0 10px 0;
        font-size: 40px;
    }

    .featured-game-info-reverse h4 {
        font-size: 25px;
    }
    .featured-game-info-reverse p {
        padding: 30px 80px 50px 40px;
        font-size: 18;
    }
    .featured-game-reverse img {
        flex: 0 0 50%;
        max-width: 35%;
        margin-right: 50px;
    }
    .featured-game-info-reverse .link {
        font-size: 16px;
    }

    .rating {
        font-size: 30px;
        color: #c942f7;
    }

    .top-games h2 {
        font-size: 40px;
    }

    .top-game-entry {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .top-game-entry img {
        width: 280px;
        height: 420px;
        align-items: center;
        margin: 0 auto 10px;
    }

    .top-games-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin: 80px 0;
        text-align: center;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        padding: 30px 20px;
        color: #c942f7;
    }
}

/* pc gameslist*/

.city {
    display: flex;
    justify-content: center;
    background-size: cover;
    max-width: 100%;
    background-repeat: no-repeat;
    background-color: rgb(228, 226, 226);
    margin: auto;
}

i {
    color: #c942f7;
    margin: 0 0 0 40px;
    font-size: 40px;
}

.description-game-info i:hover {
    color: #cd83e6;
    border: #c942f7;
}

.description {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 50%;
    margin: 50px;
    padding: 60px;
    justify-content: center;
    gap: 60px;
}
.description img {
    width: 700px;
    padding-left: 5%;
}

.description-game-info h2 {
    font-size: 50px;
    margin: 5px;
}

.description-game-info h3 {
    font-size: 30px;
    margin: 10px 0 20px 30px;
}

.description-game-info p {
    font-size: 18px;
    margin: 0 100px 20px 10px;
    padding-right: 50%;
}

.description-game-info .price {
    font-size: 25px;
    margin-bottom: 20px;
}

.price {
    font-size: 25px;
    font-weight: bold;
}

.description-reverse {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    padding: 50px;
    margin: 20px 30px;
}

.description-info-reverse h2 {
    font-size: 30px;
    margin: 20px 0 50px 0;
    text-align: center;
}

.description-info-reverse p {
    font-size: 18px;
    margin: 10px 100px;
}
/* about us*/

.pinkroom {
    display: flex;
    justify-content: center;
    background-size: cover;
    max-width: 100%;
    margin: auto;
}

.aboutus-info p {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 180px;
}

.aboutus h2 {
    font-size: 40px;
    text-align: center;
    margin: 40px;
}

.vision {
    display: flex;
    flex-direction: row-reverse;
    flex: 0 0 50%;
    padding: 60px;
    margin: auto;
    gap: 100px;
}

.vision-info h2 {
    font-size: 40px;
    text-align: center;
    margin: 80px 320px 0 0;
    padding-bottom: 10px;
}

.vision-info p {
    font-size: 18px;
    text-align: center;
    margin: 5px 340px 5px 0;
    padding: 20px;
}

.vision img {
    padding-left: 180px;
}

.mission-reverse {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    padding: 50px;
    margin: auto;
}

.mission-reverse h2 {
    font-size: 40px;
    text-align: center;
    padding: 30px;
}

.mission-reverse p {
    font-size: 18px;
    text-align: center;
    padding: 20px 160px;
}
.mission-reverse img {
    display: flex;
    justify-content: center;
    padding-right: 220px;
}

video {
    margin: 5% 0 0% 27%;
}

.additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(224, 222, 222);
    padding: 100px;
    margin: 150px 0 0 0;
}

.fa {
    font-size: 30px;
    color: black;
}

.btn-cart {
    background-color: #c942f7;
    font-size: 16px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 30px;
}

.btn-cart:hover {
    background-color: #cd83e6;
    border-color: #c942f7;
}
.additional-info p {
    font-size: 16px;
    font-weight: bold;
}

.getintouch {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    justify-content: left;
    background-color: rgb(224, 222, 222);
    padding: 180px;
    gap: 5%;
    margin: 0;
}

.getintouch h1 .contact .address {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.getintouch img {
    width: 700px;
}
.getintouch h2 {
    padding-top: 10px;
    font-size: 40px;
}

.message-box {
    margin-left: 200px;
}

input {
    margin: 10px;
}

textarea {
    margin: 10px;
}

.submit {
    background-color: #c942f7;
    padding: 10px 15px;
}
.submit:hover {
    background-color: #cd83e6;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px 0 60px 170px;
    gap: 100px;
}

.map-info h2 {
    margin-top: 50px;
}

.row-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    padding-top: 100px;
    padding-bottom: 280px;
    background-image: linear-gradient(rgb(243, 224, 241), rgb(121, 12, 131));
    background-size: cover;
}

.d-flex {
    display: flex !important;
}

.container-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    background-image: linear-gradient(rgb(121, 12, 131), rgb(243, 224, 241));
    border-radius: 30px;
}

.login-sign-info {
    text-align: center;
    padding: 2rem;
}

.email {
    margin-left: 2.5rem;
}

.login-signup .log-link {
    color: black;
    text-decoration: underline;
    font-size: 18px;
}

.row-log {
    text-align: center;
}

.login-signup .log-link:hover {
    color: #c942f7;
}

.login-signup-info h2 {
    text-align: center;
    margin-bottom: 50px;
}

.login-btn {
    background-color: #c942f7;
    padding: 15px 25px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.login-btn:hover {
    background-color: #cd83e6;
    border-color: #c942f7;
    box-shadow: #c942f7;
}

.row-link {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
input .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.log-row {
    text-align: center;
}

.item,
.tagprice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 250px;
    padding: 20px;
}

.tagprice {
    font-size: 20px;
    font-weight: bold;
}

.item-icon {
    color: black;
    font-size: 18px;
}

.item img {
    max-width: 130px;
}

.item p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
    .d-flex {
        flex-direction: row;
    }
}

video {
    margin-left: 240px;
}
